---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="container main-container full-jumbotron">
        <div class="jumbotron">
            <h1 itemprop="name headline">{% if page.longtitle %}{{ page.longtitle | escape }}{% else %}{{ page.title | escape }}{% endif %}</h1>
            {% if page.subtitle %}
              <p>
              {{ page.subtitle }}
              </p>
            {% endif %}
            <p><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
            <p>
              {% if page.author %}
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                  <span itemprop="name">{{ page.author }}</span>
                </span>
              {% endif %}
            </p>
        </div>
    </div>
  </header>

  <div class="container blog-container"  itemprop="articleBody">
  {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
